body {
    background-image: url("bg.jpg");
    background-color: lightblue;
    text-align: center;
    
}

h1 {
    color: black;
    font-family:Nosifer;
    font-size: 70px;
    margin: 2em;
    top: 70px;
}

h2 {
    color: black;
    font-family:Nosifer;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
     position: relative;
    left: 650px;
    
    
}

tr {
    background-color: white;
    height: 20px;
    
}

td {
    width: 20px;
    cursor: pointer;
}

input[type=number] {
    width: 4em;
    
}

#button {
    display: block;
    padding: 10px 25px;
    width: 110px;
    margin: 30px auto;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease;
    color: #fff;
    background-color: #02b3e4;
    border: .125rem solid transparent;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    border-radius: .25rem;
}
section {
    box-shadow: 0 10px 50px 0 rgba(0,0,0,.1);
    background: white;
    border-radius: 15px;
    width: 350px;
    margin: 80px auto;
    padding: 70px 0;
    
    
    height: 200px;
    position: absolute;

   
}



.typewriter h1 {
  color: black;
  font-family: Nosifer;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5.5s steps(30, end),
    blink-caret .5s step-end infinite;
    animation-iteration-count:infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: lightblue }
}
     


    );



