body {
    
    background-color: lightblue;
    text-align: center;
}

h1 {
    color: blue;
    font-family:Nosifer;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    color: blue;
    font-family:Nosifer;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
     background-color: white;
    height: 20px;
    
}

td {
    width: 20px;
    cursor: pointer;
}

input[type=number] {
    width: 4em;
    
}
